body {
}

#wrapper {
   width: 30%;
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
   min-width: 200px;
}

#id {
   border: solid 1px;
   padding-top: 15px;
   padding-bottom: 15px;
   width: 100%;
   margin: 8px 0;
   box-sizing: border-box;
}

#button {
   border: solid 1px;
   background-color: lightgreen;
   padding-top: 15px;
   padding-bottom: 15px;
   width: 100%;
}
